DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
ALLOWED_HOSTS=*

DB_NAME=bakery_inventory
DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=3306

REDIS_URL=redis://redis:6379/0
CACHE_REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

CORS_ALLOW_ALL_ORIGINS=true
LOG_LEVEL=INFO
